body {
  display: flex;
  background-color: rgb(0, 0, 0);
  justify-content: space-around;
  margin: none;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
 
}
.container{
  display: flex;
  justify-content: space-around;
  width:80.5vw;
  height:auto;
  background-color: rgb(95, 93, 93);
  margin-top: 0px;
}
.todoapp{
  justify-content: center;
  width:50vw;
  height:auto;
  background-color: rgb(255,255,255);
  position: absolute;
}
h2{
text-align: center;
    margin-top: 5px;
    font-family: 'Roboto Slab', serif;
    font-size: 33px;
    color: rgb(151,110,104);
    margin-bottom: 7px;
}
.horizontal-divider {
  width: 100% !important;
  height: 2px;
  margin-bottom: 0px;
  background-color: rgb(229,229,229);
}
#description {
  width: 93%;
  height: 45px;
  font-size: 20px;
  border: none;
  margin-bottom: 7px;
  margin-left: 18px;
  margin-right: 20px;
  border: 2px solid white;
  border-radius: 2px;
  position: relative;
  font-family: 'Roboto Slab', serif;
  
}
#descriptioncolor{
  background-color:lightgrey;
}

#category{
  display: flex;
  position: absolute;
  border: 2px solid grey;
  width: 90%;
  height: 50px;
  margin-right: 2px;
  margin-left:2px;
  margin-top: 2px;
  margin-bottom: 20px;
  background-color: rgb(255,255,255);
  color: black;
  font-weight: bolder;
  padding: none;
  border-radius: 4px;
  padding: 10px;
  /* border: none; */
  align-items: center;
  font-family: 'Roboto Slab', serif;
  font-size: medium;
  font-weight: 500;
}
#date {
  position: absolute;
  border-radius: 4px;
/* display: flex; */
  width: 90%;
  height: 50px;
  border: none;
  margin-bottom: 30px;
  margin-left: 2px;
  margin-right: 1px;
  border:2px solid green;
  /* border: none; */
  font-family: 'Roboto Slab', serif;
  font-size: medium;
  font-weight: 500;
  
}
#flex{
  display: flex;
  /* border: 2px solid rgb(179, 130, 130); */
  position: relative;
  

}
fieldset{
  /* display: flex; */
  /* margin-inline-end:none; */
height:80px;
width: 99%;
margin-top: 1px;
margin-inline-start: 0px;
margin-block-end: 2px;
/* border-radius: 5px; */
border: none;
/* border:2px solid rgb(179, 130, 130) ; */
position: relative;
font-family: 'Roboto Slab', serif;
  font-size: medium;
  font-weight: 500;

}

#add-btn {
  margin-left: 20px;
  margin-right: 20px;
  height: 50px;
  width: 20%;
  background: linear-gradient(72.92deg,#539bf1 .9%,#a6e573 97.46%);
  font-weight: bolder;
  color: white;
  border-radius: 4px;
  border: none;
  margin-top: 1px;
  margin-left: 135px;
  font-weight: 700;
  box-shadow: 9px 8px 37px 0 rgba(129, 240, 2, 0.11);
}

#delete-btn {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 4px;
  height: 50px;
  width: 27%;
  background-color: tomato;
  font-weight: bolder;
  color: white;
  border: none;
  box-shadow: 9px 8px 37px 0 rgba(240, 9, 9, 0.11);

 
}

#delete-btn-right{
  display: flex;
  
  margin-left: 170px;
  margin-top: -67px;
  margin-bottom: 8%;
  justify-content: center;

}

#add-butn-flex{
  /* border: 2px solid rebeccapurple; */
  display: flex;

  margin-top: 20px;
  
}
#task-list-container {
  background-color: rgb(248, 247, 245);
  border-radius: 5px;
  margin: 3px;
  border-radius: 2px;
}

h3{
  display: flex;
  justify-content: center;
  background-color: rgb(226, 218, 216);
  border-radius: 4px;
}





.task {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: column; */
}

.task .checkbox {
  width: 60%;
  margin-left: 10px;
  color: black;
  font-size: 1.2rem;
}

.task .category span {
  margin-right: 10px;
  margin-top: 2px;
  background-color: rgb(72, 133, 237);
  padding: 5px;
  color: white;
  border-radius: 5px;
  font-weight: bolder;
}

.task p {
  width: 100%;
  padding-left: 30px;
  color:rgb(0, 0, 0);
  font-weight:600;
  
}



