body{
    margin: 0;
    /* text-align: center; */
    

    #layout-main{
        height: auto;
        
            background: linear-gradient(72.92deg, #c1e49d65 0.9%, #9bd4f0 97.46%);
            
          
    }
    // margin: 3px;
    // border: 2px solid rosybrown;
    
    
  
}
